
.menu-page {
    color: darkslategray;
    transition: opacity var(--title-delay);
    flex-grow: 1; 
}

.over{
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
}

.page-contents {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pc-entry{
    flex-grow: 1;
    align-self: center;
    user-select: none;
    flex-basis: 100%;
    text-align: justify;
}

.pce-main {
    font-family: "Forum";
    text-align: center;
    font-size: 3.8em;
    font-weight: normal;
    flex-basis: 80%;
}

.pce-secondary {
    padding-right: 120px;
}


@media only screen and (max-width: 600px) {
    .page-contents{
        flex-direction: column;
        padding-top: 40px;
    }
    .pc-entry{
        flex-grow: unset;
        padding-left: 20px;
        padding-right: 20px;
    }
}

