html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --title-delay: 1s;
}

.om-fd {
    transition: opacity var(--title-delay);
}

.om-fd-open {
    opacity: 0;
}

.om-fd-close{
    opacity: 1;
}

#vid-overlay{
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 0.56;
}

/* 
https://css-tricks.com/full-page-background-video-styles/
*/
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

@keyframes MainTitle {
    from {
        transform: translateY(400px);
    }
    70%{
        transform: translateY(60px);
    }
    75%{
        transform: translateY(50px);
    }
    80%{
        transform: translateY(40px);
    }
    85%{
        transform: translateY(30px);
    }
    90%{
        transform: translateY(20px);
    }
    95%{
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes MainTitleRev {
    from {
        transform: translateY(-400px);
    }
    70%{
        transform: translateY(-60px);
    }
    75%{
        transform: translateY(-50px);
    }
    80%{
        transform: translateY(-40px);
    }
    85%{
        transform: translateY(-30px);
    }
    90%{
        transform: translateY(-20px);
    }
    95%{
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
    }
}

#title-cont{
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#cont{
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

#sumas-title{
    color: white;
    animation: MainTitle var(--title-delay) ease-in ;
    align-self: center;
}

#uprm-title{
    color: green;
    animation: MainTitleRev var(--title-delay) ease-in ;
    align-self: center;
}

#uprm-title.main-title{
    font-size: calc(1.5 * var(--m-size));
}

.main-title {
    --m-size: 102px;
    text-align: center;
    font-size: var(--m-size);
    font-family: "Forum";
    user-select: none;
}

#footer{
    padding-top: 3.5em;
}

#uprm-seal{
    z-index: 1;
    max-width: 128px;
    max-height: 128px;
    align-self: center;
    padding-top: 26px;
    user-select: none;
    transition: opacity var(--title-delay);
}

.op1 {
    opacity: 1;
}
.op0{
    opacity: 0;
}

@media only screen and (max-width: 600px) , screen and (max-height: 600px) {
    .main-title {
        --m-size: 52px;
        font-size: var(--m-size);
    }

    #footer{
     padding-top: 2.5em;
    }

    #uprm-seal{
        max-width: 64px;
        max-height: 64px;
    }
}

